main:has(.form-container) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-container {
    width: 100%;
    display: grid;
    gap: 1em;
}

.form-container.register {
    grid-template: repeat(5, auto) / repeat(2, 1fr);
}

.input-container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.firstname {
    grid-area: 1 / 1 / 2 / 2;
}

.lastname {
    grid-area: 1 / 2 / 2 / 3;
}

.username {
    grid-area: 2 / 1 / 3 / 3;
}

.email {
    grid-area: 3 / 1 / 4 / 3;
}

.password {
    grid-area: 4 / 1 / 5 / 3;
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1em;
}

.register .buttons {
    grid-area: 5 / 1 / 6 / 3;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    font-family: var(--font-body);
    font-size: 1em;
    background-color: var(--color-background);
    border: none;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: var(--color-primary);
}

button {
    padding: 0.5em 1em;
    font-family: var(--font-body);
    font-weight: bold;
    font-size: 1em;
    border: 1px solid var(--color-primary);
    border-radius: 1.25em;
    box-shadow: 0.25em 0.25em 0.25em var(--color-shadow);
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out,
                border-color 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

button[type="button"] {
    background-color: var(--color-background);
    color: var(--color-primary);
}

button[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

button:hover {
    background-color: var(--color-brightness);
    color: var(--color-secondary);
    border-color: var(--color-brightness);
    box-shadow: 0.25em 0.25em 0.25em inset var(--color-primary);
}

button[type="submit"] .icon-button {
    margin-left: -4px;
}

.label-button.desktop,
button[type="button"] .label-button.mobile {
    display: none;
}

.navigation {
    margin: 2em 0 0;
    padding: 1em;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

@media screen and (min-width: 430px) {

    button[type="button"] .icon-button {
        margin-left: -4px;
    }
    
    .label-button.mobile {
        display: none;
    }

    .label-button.desktop {
        display: inline;
    }

}

@media screen and (min-width: 500px) {
    
    #root {
        padding: 2em 0;
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    #root .layout {
        margin: auto;
        width: 28em;
        height: auto;
        background-color: var(--color-background);
        border-radius: 1em;
        box-shadow: 0 0 1em var(--color-shadow);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    #root main {
        padding: 1em;
    }

}