.modal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-blur);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0 auto auto 0;
}

.modal-content {
    width: 80%;
    background-color: var(--color-background);
    border-radius: 1em;
    box-shadow: 0 0 1em var(--color-shadow);
    overflow: hidden;
}

.modal-header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.modal-header button {
    padding: 0.5em;
    background-color: var(--color-primary);
    color: var(--color-text);
    transition: background-color 0.3s ease-in-out,
                border-color 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

.modal-header button:hover {
    background-color: var(--color-brightness);
}

.modal-body {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-body p {
    font-weight: bold;
}

.modal-body .label-desktop,
.modal-footer button[type="button"] .label-button,
.modal-footer button[type="submit"] .label-button-desktop {
    display: none;
}

.modal-footer button[type="submit"] .label-button-mobile {
    display: inline;
}

.modal-body .modal-input {
    position: relative;
}

.modal-body input {
    width: 100%;
    font-family: var(--font-body);
    font-size: 1em;
    background-color: var(--color-background);
    border: none;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.modal-body input:not(:placeholder-shown):invalid,
.modal-body input[data-touched="true"]:invalid {
    border-color: #ff4d4d;
}

.modal-body input:not(:placeholder-shown):invalid ~ .error-icon,
.modal-body input[data-touched="true"]:invalid ~ .error-icon {
    display: block;
}

.modal-body input:focus {
    border-color: var(--color-primary);
}

.modal-body .error-icon {
    padding: 0 0.25em;
    color: #ff4d4d;
    display: none;
    cursor: default;
    position: absolute;
    inset: auto 0 0 auto;
}

.modal-body .error-message {
    padding: 0.5em 1em;
    width: max-content;
    max-width: 100%;
    font-size: 1em;
    background-color: var(--color-background);
    border-radius: 0.5em;
    color: var(--color-text);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    inset: 1.25em 0 auto auto;
    z-index: 1;
}

.modal-body .error-icon:hover ~ .error-message {
    opacity: 1;
    visibility: visible;
}

.modal-footer {
    padding: 0 1em 1em;
    width: 100%;
    background-color: var(--color-background);
}

.modal-footer .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1em;
}

.modal-footer button[type="button"] {
    grid-column: 1 / 2;
}

.modal-footer button[type="submit"] {
    grid-column: 2 / 3;
}

@media screen and (min-width: 508px) {
    .modal-body .label-desktop,
    .modal-footer button[type="button"] .label-button,
    .modal-footer button[type="submit"] .label-button-desktop {
        display: inline;
    }
    .modal-body .label-mobile,
    .modal-footer button[type="submit"] .label-button-mobile {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .modal-content {
        width: 50%;
    }    
}