#root {
    overflow: hidden;
}

main {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 0.5em;
    transition: background-color 0.3s ease-in-out
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-brightness);
}

@-moz-document url-prefix() {
    #root, main {
        scrollbar-width: thin;
        scrollbar-color: var(--color-primary) transparent;
    }
}

@media screen and (min-width: 500px) {

    #root {
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;
    }

    #root main {
        overflow-y: visible;
        scrollbar-gutter: auto;
    }

}